<web-app>
    <servlet>

        <servlet-name>LegalCustomerServlet</servlet-name>
        <servlet-class>presentation.LegalCustomerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LegalCustomerServlet</servlet-name>
        <url-pattern>/LegalCustomerServlet</url-pattern>
    </servlet-mapping>

</web-app>

