<web-app>
    <servlet>

        <servlet-name>ReadParametr</servlet-name>
        <servlet-class>ReadParametr</servlet-class>
    </servlet>
    <servlet-mapping>

        <servlet-name>ReadParametr</servlet-name>
        <url-pattern>/ReadParametr</url-pattern>

    </servlet-mapping>
</web-app>

